* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg);
}

#root {
    height: 100%;
    width: 100%;
}

.p-component {
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: normal;
}

input::placeholder {
    font-style: italic;
    opacity: 0.4;
}

.required::after {
    content: '*';
    color: var(--danger);
}

.font-monospace {
    font-family: 'Courier New', monospace !important;
}