* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--surface-b);
}

#root {
    height: 100%;
    width: 100%;
}

.p-component {
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: normal;
}


input::placeholder {
    font-style: italic;
    opacity: 0.4;
}

.primary-text-color {
    color: var(--primary-color);
}

.required::after {
    content: '*';
    color: #ef9a9a;;
}