@font-face {
    font-family: 'Poppins';
    font-weight: 100;
    src: local('Poppins'), url(Poppins/Poppins-Thin.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 200;
    src: local('Poppins'), url(Poppins/Poppins-ExtraLight.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 300;
    src: local('Poppins'), url(Poppins/Poppins-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    src: local('Poppins'), url(Poppins/Poppins-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 500;
    src: local('Poppins'), url(Poppins/Poppins-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 600;
    src: local('Poppins'), url(Poppins/Poppins-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 700;
    src: local('Poppins'), url(Poppins/Poppins-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 800;
    src: local('Poppins'), url(Poppins/Poppins-ExtraBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 900;
    src: local('Poppins'), url(Poppins/Poppins-Black.ttf) format('truetype');
}
